<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Space_Invaders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MySQLConnection" connectionString="server=185.101.92.100;database=spaceinvaders;uid=spaceinvaders;password=U6QDzfZZX2J3ut7d;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <userSettings>
    <Space_Invaders.Properties.Settings>
      <setting name="TankColor" serializeAs="String">
        <value>0, 255, 38</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Guest</value>
      </setting>
      <setting name="BulletColorTank" serializeAs="String">
        <value>0, 255, 38</value>
      </setting>
      <setting name="InvadersColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BulletColorInvaders" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BulletStyle" serializeAs="String">
        <value>|</value>
      </setting>
    </Space_Invaders.Properties.Settings>
  </userSettings>
</configuration>